<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
	<title>Create Customer</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Form</h1>
    <form action="#" th:action="@{/customer}" th:object="${customer}" method="post">
			<table>
				<tbody>
					<tr><td>Registration code: </td><td><input type="text" th:field="*{registrationCode}" /></td></tr>
					<tr><td>Full name: </td><td><input type="text" th:field="*{fullName}" /></td></tr>
					<tr><td>Email: </td><td><input type="text" th:field="*{email}" /></td></tr>
					<tr><td>Telephone:</td><td><input type="text" th:field="*{telephone}" /></td></tr>
					<tr><td><input type="submit" value="Submit" /></td><td><input type="reset" value="Reset" /></td></tr>
				</tbody>
			</table>
    </form>
</body>
</html>