<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
	<title>Create Product</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<style>
		ul {
			list-style-type: none;
			margin-bottom: 25px;
			padding: 0;
		}

		li {
			display: inline;
			margin-right: 15px;
		}
	</style>
</head>
<body>
	<h1>Product Form</h1>
	<ul>
		<li><a href="/customer">Create Customer</a></li>
		<li><a href="/customer-table">Customer Table</a></li>
		<li><a href="/product">Create Product</a></li>
		<li><a href="/product-table">Product Table</a></li>
	</ul>
	<form action="#" th:action="@{/product}" th:object="${product}" method="post">
		<table>
			<tbody>
				<tr><td>Name: </td><td><input type="text" th:field="*{name}" /></td></tr>
				<tr><td>SKU code: </td><td><input type="text" th:field="*{skuCode}" /></td></tr>
				<tr><td>Unit price: </td><td><input type="text" th:field="*{unitPrice}" /></td></tr>
				<tr><td><input type="submit" value="Submit" /></td><td><input type="reset" value="Reset" /></td></tr>
			</tbody>
		</table>
	</form>
</body>
</html>