<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Product table</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<style>
			table, th, td {
				border: 1px solid black;
				border-collapse: collapse;
			}
			th, td {
				padding: 5px;
			}
			th {
				text-align: left;
			}
			ul {
				list-style-type: none;
				margin-bottom: 25px;
				padding: 0;
			}

			li {
				display: inline;
				margin-right: 15px;
			}
		</style>
</head>
<body>
	<h1>Product Table</h1>
	<ul>
		<li><a href="/customer">Create Customer</a></li>
		<li><a href="/customer-table">Customer Table</a></li>
		<li><a href="/product">Create Product</a></li>
		<li><a href="/product-table">Product Table</a></li>
	</ul>
	<table>
		<thead>
			<tr>
				<th>Product name:</th>
				<th>SKU code:</th>
				<th>Unit Price:</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="product : ${products}">
				<td th:text="${product.name}">&nbsp;</td>
				<td th:text="${product.skuCode}">&nbsp;</td>
				<td th:text="${product.unitPrice}">&nbsp;</td>
			</tr>
		</tbody>
	</table>
</body>
</html>